$primary-color: #fcbf49;
$secondary-color: #e7d675;
$accent-color: #ff8400;
$red-color: #b53c3c;
$darkred-color: #6a1a1a;
$blue-color: #003049;
$sec-blue: #428fb5;
$green-color: #cce20d;
$gradient-color: linear-gradient(90deg, #030202 0%, #b53c3c 50%, #030202 100%);
$redgradient-color: linear-gradient(315deg, #3f0d12 0%, #b53c3c 74%);
